<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %x%-5p-%-10c:%m%n" />
        </layout>
    </appender>
    
    <!-- https://docs.jboss.org/hibernate/orm/5.1/topical/html_single/logging/Logging.html#_log_categories_of_interest -->
    <logger name="org.hibernate" additivity="false">
        <level value="INFO" />
        <appender-ref ref="console" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
    </logger>
    <logger name="org.hibernate.SQL" additivity="false">
        <level value="TRACE" />
        <appender-ref ref="console" />
    </logger>

    <root>
        <priority value="ALL" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>