<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DATE} %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="ApplicationFile" fileName="application.log">
            <PatternLayout pattern="%d{DATE} %-5level %logger{36} - %msg%n" />
        </File>
        <File name="ErrorFile" fileName="error.log" append="false">
            <PatternLayout pattern="%d{DATE} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="FileWithError" additivity="false">
            <AppenderRef ref="ErrorFile" />
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>