
<div ng-controller="EmployeeController">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<h3>Employee Details</h3>
			<div class="mdl-card mdl-shadow--2dp" style="min-width: 500px;">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{employee.firstname}}&nbsp;{{employee.lastname}}</h2>
				</div>
				<div class="mdl-card__supporting-text">
					<table class="mdl-data-table mdl-shadow--2dp">
						<tr>
							<td>Gender:</td>
							<td class="mdl-data-table__cell--non-numeric">{{employee.gender}}</td>
						</tr>
						<tr>
							<td>Jobtitle:</td>
							<td class="mdl-data-table__cell--non-numeric">{{employee.jobtitle}}</td>
						</tr>
						<tr>
							<td>Salary:</td>
							<td class="mdl-data-table__cell--non-numeric">{{employee.salary}}</td>
						</tr>
					</table>
				</div>
				<div class="mdl-card__supporting-text">
					<h6>Address</h6>
					<table class="mdl-data-table mdl-shadow--2dp">
						<tr>
							<td>Street:</td>
							<td class="mdl-data-table__cell--non-numeric">{{address.street}}</td>
						</tr>
						<tr>
							<td>City:</td>
							<td class="mdl-data-table__cell--non-numeric">{{address.city}}</td>
						</tr>
						<tr>
							<td>Postal Code:</td>
							<td class="mdl-data-table__cell--non-numeric">{{address.postalCode}}</td>
						</tr>
						<tr>
							<td>Province:</td>
							<td class="mdl-data-table__cell--non-numeric">{{address.province}}</td>
						</tr>
						<tr>
							<td>Country:</td>
							<td class="mdl-data-table__cell--non-numeric">{{address.country}}</td>
						</tr>
					</table>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href=""> show projects </a>
				</div>
				<div class="mdl-card__menu">
					<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">share</i>
					</button>
				</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--1-col">
			<a class="mdl-navigation__link" href="#/Employees">
				<button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">arrow_back</i></button>
			</a>
		</div>
	</div>
</div>
			