
<style>
.employee-list {
	min-width: 400px;
}
</style>

<div ng-controller="EmployeesController">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<h3>Employees</h3>
			<table class="employee-list mdl-data-table mdl-js-data-table">
				<thead>
					<tr>
						<th class="mdl-data-table__cell--non-numeric">Name</th>
						<th class="mdl-data-table__cell--non-numeric">Jobtitle</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees | orderBy:'lastname' | filter:$parent.q">
						<td class="mdl-data-table__cell--non-numeric docs-text-styling">
							<a href="#/Employees/{{employee.id}}">{{employee.firstname}}&nbsp;{{employee.lastname}}</a>
						</td>
						<td class="mdl-data-table__cell--non-numeric">{{employee.jobtitle}}</td>
						<td style="padding-top: 8px;">
							<a href="#/Employees/{{employee.id}}"><button class="mdl-button mdl-button--icon"><i class="material-icons">chevron_right</i></button></a>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- <pre>{{ employees | json }}</pre> -->
			
		</div>
	</div>
</div>