.root {
    -fx-background-color: #3c3c3c;
}

.button {
    -fx-border-color: #808080;
    -fx-border-width: 2;

    -fx-background-radius: 0;

    -fx-background-color: #3c3c3c;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #c0c0c0;
}

.button:hover {
	-fx-background-color: #808080;
}

.text-field {
	-fx-border-color: #c0c0c0;
	-fx-background-color: #ffffff;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
}

.list-view {
	-fx-border-color: #c0c0c0;
	-fx-background-color: #ffffff;
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}
