<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
    
    <display-name>JEE 7 Webservices</display-name>
    
    <servlet> 
        <servlet-name>EmployeePort</servlet-name>
        <servlet-class>ch.vrsg.edu.webservice.application.ws.EmployeeWebservice</servlet-class> 
        <load-on-startup>1</load-on-startup>
    </servlet> 
    
    <!-- WebService URL-Mapping, hier mit Version in der URL: [host]/[context-root]/[url-pattern] -->
    <servlet-mapping> 
        <servlet-name>EmployeePort</servlet-name> 
        <url-pattern>/webservice/employees/1/employee</url-pattern> 
    </servlet-mapping> 
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

       
    <!-- security constraint -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>sample</web-resource-name>
            <url-pattern>/resources/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>webuser</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>SSL not required</description>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- login configuration-->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>
    
    <!-- security role -->
    <security-role>
        <description>see also weblogic.xml</description>
        <role-name>webuser</role-name>
    </security-role>
    
</web-app>